<form name="container-form" class="mt-4" method="POST" action="/courses/handle-form-actions">
  <div>
    <h3>Khóa học của tôi</h3>
    <a href="/me/trash/courses">Thung rac ({{deletedCount}})</a>
    <div class="mt-4 d-flex align-items-center">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
        <label class="form-check-label" for="checkbox-all">
          chọn tất cả
        </label>
      </div>
    <select class="form-select form-select-sm checkbox-select-all-option" aria-label="Default select example" name="action" required>
      <option value="">-- Chọn hành động --</option>
      <option value="delete">Xóa</option>
    </select>
    <button class="btn btn-primary check-all-submit-btn" disabled="disabled" type="submit">Button</button>
    </div>
  </div>
    <table class="table mt-4">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Tên khóa hoc
              {{{sortable 'name' _sort}}}
            </th>
            <th scope="col">Trình độ
              {{{sortable 'level' _sort}}}
            </th>
            <th scope="col">Thời gian tạo
              {{{sortable 'createdAt' _sort}}}
            </th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
                <tr>
                    <td>
                      <div class="form-check">
                      <input class="form-check-input" type="checkbox" name="courseIds[]" value="{{this._id}}" id="">
                    </div>
                    </td>
                    <th scope="row">{{ sum @index 1 }}</th>
                    <td>{{this.name}}</td>
                    <td>{{this.level}}</td>
                    <td>{{this.createdAt}}</td>
                    <td><a href="/courses/{{this._id}}/edit" class="btn btn-warning">Sửa</a></td>
                    <td><a href="" class="btn btn-danger" data-bs-id="{{this._id}}" data-bs-toggle="modal" data-bs-target="#delete-course-modal">Xóa</a></td>
                </tr>
            {{else}}
                <tr>
                  <td colspan="5" class="text-center">
                    Ban chua dang khoa hoc nao. 
                    <a href="/courses/create">Dang khoa hoc tai day</a>
                  </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</form>

{{!-- confirm delete course --}}
<div class="modal" tabindex="-1" id="delete-course-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xóa khóa học</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Bạn có chắc chắn muốn xóa khóa học này?</p>
      </div>
      <div class="modal-footer">
        <button id="btn-delete-course" type="button" class="btn btn-danger">Xóa bỏ</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div>

{{!-- Delete hidden form --}}
<form name="delete-course-form" method="POST">

</form>

<script>
    var courseId; // lấy id khóa học select
    var exampleModal = document.getElementById('delete-course-modal') // lấy ra modal
    var deleteForm = document.forms['delete-course-form']; // select form
    var containerForm = document.forms['container-form']; // select form
    var btnDeleteCourse = document.getElementById('btn-delete-course'); // nút xóa của modal
    var checkboxAll = $('#checkbox-all');
    var courseItemCheckbox = $('input[name="courseIds[]"]'); // select tất cả checkBox
    var checkAllSubmitBtn = $('.check-all-submit-btn');

    exampleModal.addEventListener('show.bs.modal', function (event) { // khi modal đc gọi thì hàm sẽ chạy
        // Button that triggered the modal
        var button = event.relatedTarget // lấy ra nút gọi modal
        // Extract info from data-bs-* attributes
        var id = button.getAttribute('data-bs-id') // từ nút đó ra attribute có id mà mình truyền vào trước đó
        courseId = id;
    })

    // nút delete modal onclick
    btnDeleteCourse.onclick = function() {
        deleteForm.action = '/courses/' + courseId + '?_method=DELETE'; // sửa action của form thành params id muốn xóa
        deleteForm.submit(); // chạy form và khi form đc submit thì thanh params sẽ thực thi code phía controller và chạy hàm xóa
    }

    // Checkbox all changed
    checkboxAll.change(function() {
      var isCheckedAll = $(this).prop('checked') // checked = true ko checked = false
        courseItemCheckbox.prop('checked', isCheckedAll);
      renderCheckAllSubmitBtn()
    });

    // Course item checkbox changed
    courseItemCheckbox.change(function() {
      // so sánh tất cả nút checked có bằng các nút đã checked hay ko nếu 1 cái là false => false
      var isCheckedAll = courseItemCheckbox.length === $('input[name="courseIds[]"]:checked').length;
        checkboxAll.prop('checked', isCheckedAll) // nếu isCheckedAll là true có nghĩa là tất cả các nút đã checked
      renderCheckAllSubmitBtn()
    })

    // Re-render check all submit button
    function renderCheckAllSubmitBtn() {
     var isChecked = $('input[name="courseIds[]"]:checked').length;
     if(isChecked > 0) {
       checkAllSubmitBtn.attr('disabled', false) // thêm attribult là disable hoặc gỡ
     } else {
       checkAllSubmitBtn.attr('disabled', true)
     }
    }
</script>