<form name="container-form" class="mt-4" method="POST" action="/courses/handle-form-actions">
  <div class="">
    <a href="/me/stored/courses">Danh sách khóa học</a>
    <h3>Khóa học đã xóa</h3>
    <div class="mt-4 d-flex align-items-center">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
        <label class="form-check-label" for="checkbox-all">
          chọn tất cả
        </label>
      </div>
    <select class="form-select form-select-sm checkbox-select-all-option" aria-label="Default select example" name="action" required>
      <option value="">-- Chọn hành động --</option>
      <option value="restore">Khôi Phục</option>
      <option value="force">Xóa vĩnh viễn</option>
    </select>
    <button class="btn btn-primary check-all-submit-btn disabled" type="submit">Button</button>
  </div>
    <table class="table mt-4">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Tên khóa hoc</th>
            <th scope="col">Trình độ</th>
            <th scope="col">Thời gian tạo</th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
                <tr>
                    <td>
                      <div class="form-check">
                      <input class="form-check-input" type="checkbox" name="courseIds[]" value="{{this._id}}" id="">
                    </div>
                    <th scope="row">{{ sum @index 1 }}</th>
                    <td>{{this.name}}</td>
                    <td>{{this.level}}</td>
                    <td>{{this.createdAt}}</td>
                    <td><a href="" class="btn btn-warning btn-restore" data-id="{{this._id}}">Khôi phục</a></td>
                    <td><a href="" class="btn btn-danger" data-bs-id="{{this._id}}" data-bs-toggle="modal" data-bs-target="#delete-course-modal">Xóa vĩnh viễn</a></td>
                </tr>
            {{else}}
                <tr>
                  <td colspan="5" class="text-center">
                    Thùng rác trống
                    <a href="/me/stored/courses">Danh sách khóa học</a>
                  </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</form>

{{!-- confirm delete course --}}
<div class="modal" tabindex="-1" id="delete-course-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xóa khóa học</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Dữ liệu không thể khôi phục.Bạn có chắc chắn muốn xóa khóa học này?</p>
      </div>
      <div class="modal-footer">
        <button id="btn-delete-course" type="button" class="btn btn-danger">Xóa vĩnh viễn</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div>

{{!-- Delete hidden form --}}
<form name="delete-course-form" method="POST"></form>
<form name="restore-course-form" method="POST"></form>

<script>
    var exampleModal = document.getElementById('delete-course-modal') // lấy ra modal
    var courseId; // lấy id khóa học select
    var deleteForm = document.forms['delete-course-form']; // select form
    var containerForm = document.forms['container-form']; // select form
    var restoreForm = document.forms['restore-course-form']; // select form
    var btnDeleteCourse = document.getElementById('btn-delete-course'); // nút xóa của modal
    var restoreBtn = document.getElementsByClassName('btn-restore')
    var checkboxAll = $('#checkbox-all');
    var courseItemCheckbox = $('input[name="courseIds[]"]'); // select tất cả checkBox
    var checkAllSubmitBtn = $('.check-all-submit-btn');

    exampleModal.addEventListener('show.bs.modal', function (event) { // khi modal đc gọi thì hàm sẽ chạy
        // Button that triggered the modal
        var button = event.relatedTarget // lấy ra nút gọi modal
        // Extract info from data-bs-* attributes
        var id = button.getAttribute('data-bs-id') // từ nút đó ra attribute có id mà mình truyền vào trước đó
        courseId = id;
    })

    // nút delete modal onclick
    btnDeleteCourse.onclick = function() {
        deleteForm.action = '/courses/' + courseId + '/force?_method=DELETE'; // sửa action của form thành params id muốn xóa
        deleteForm.submit(); // chạy form và khi form đc submit thì thanh params sẽ thực thi code phía controller và chạy hàm xóa
    }

    // Restore btn clicked
    Array.from(restoreBtn).forEach(restoreBtns => {
      restoreBtns.addEventListener('click', (e) => {
        e.preventDefault();

        var courseId = e.target.dataset.id;

        restoreForm.action = '/courses/' + courseId + '/restore?_method=PATCH'; // sửa action của form thành params id muốn xóa
        restoreForm.submit(); // chạy form và khi form đc submit thì thanh params sẽ thực thi code phía controller và chạy hàm xóa
      })
    });

    // Checkbox all changed
    checkboxAll.change(function() {
      var isCheckedAll = $(this).prop('checked') // checked = true ko checked = false
        courseItemCheckbox.prop('checked', isCheckedAll);
      renderCheckAllSubmitBtn()
    });

    // Course item checkbox changed
    courseItemCheckbox.change(function() {
      // so sánh tất cả nút checked có bằng các nút đã checked hay ko nếu 1 cái là false => false
      var isCheckedAll = courseItemCheckbox.length === $('input[name="courseIds[]"]:checked').length;
        checkboxAll.prop('checked', isCheckedAll) // nếu isCheckedAll là true có nghĩa là tất cả các nút đã checked
      renderCheckAllSubmitBtn()
    })

    // Check all submit button click
    checkAllSubmitBtn.on('submit', function (e) { // khi sự kiên submit diễn ra thì nó lọt vào đây
      var isSubmittable = !$(this).hasClass('disabled'); // kiểm tra nút  có class disabled thì submit: trả ra giá trị true && false
      if(!isSubmittable) { // nếu false: là ko đủ kiều kiện submit thì e.pre() bỏ hành vi mặc định
        e.preventDefault();
      }
    }) ;

    // Re-render check all submit button
    function renderCheckAllSubmitBtn() {
     var isChecked = $('input[name="courseIds[]"]:checked').length;
     if(isChecked > 0) {
       checkAllSubmitBtn.removeClass('disabled');
     } else {
       checkAllSubmitBtn.addClass('disabled')
     }
    }
</script>